<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <p><input type="text" name="" value=""></p>
  <input type="submit" name="" value="">

</form>
